* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(228, 6, 24);
}

/* Center Box Layout */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Box */
.form-box {
    width: 320px;
    background: #ffffff;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 12px;
    font-size: 15px;
}

.btn, button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    border: none;
    background: #111;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover, button:hover {
    background: #333;
}

.link {
    margin-top: 14px;
}

/* Hero Section */
.hero {
    background: #111;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.btn-light {
    display: inline-block;
    padding: 10px 22px;
    background: #fff;
    color: #111;
    border-radius: 8px;
    margin-top: 15px;
    text-decoration: none;
}

/* Features */
.features {
    padding: 50px 20px;
    text-align: center;
}

.cards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Buy Section */
.buy {
    background: #fff;
    padding: 60px;
    text-align: center;
}

.btn-dark {
    padding: 12px 25px;
    border: none;
    background: #111;
    color: white;
    border-radius: 8px;
}